@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro:200|Anonymous+Pro');
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #694D75;
    font-family: 'Anonymous Pro', monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
a:hover {
    color: white;
}

h1 {
    font-family: 'Pacifico';
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.control-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.break-panel {
    margin-right: 2em;
}

.break-panel-inputs,
.work-panel-inputs {
    font-size: 2rem;
}

.work {
    background-color: #694D75;
}

.break {
    background-color: #134074;
}

.cup-wrapper {
    font-size: 0.8rem;
}

.cup {
    /*position*/
    margin: 2em auto;
    /*Style*/
    width: 11.09017em;
    height: 13.09017em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.cup:before,
.cup:after {
    content: '';
    display: block;
    float: left;
    box-shadow: 0 0 0 1em #262626;
    position: absolute;
}

.cup:before {
    height: 5.8541em;
    width: 1.61803em;
    margin: 2.62232em -2.76886em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.cup:after {
    height: 1em;
    width: 16.94427em;
    margin: 14.26884em -3.31803em;
    box-shadow: inset 0 1em 0 0.61803em #262626;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.cup .filled {
    display: block;
    width: 101%;
    height: 100%;
    float: left;
    border-bottom-left-radius: 0.90909em;
    border-bottom-right-radius: 0.90909em;
    margin-left: -1px;
    margin-right: 3px;
    background-image: linear-gradient(to bottom, #917D9A 100%, #643001 0%, #643001 50%, #532700 50%, #532700 75%, #3a1c00 75%);
}

.filled-work {
    box-shadow: inset 0 0 0 0.23607em #917D9A, 0 0 0 1em #262626;
}

.filled-break {
    box-shadow: inset 0 0 0 0.23607em #537499, 0 0 0 1em #262626;
}

#break-minus,
#break-plus,
#work-minus,
#work-plus,
#timer {
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#timer-title {
    font-size: 1.5rem;
}

#timer-value {
    font-size: 1.75rem;
}

#pomodoro {
    text-align: center;
    color: #fff;
}

.footer {
    font-size: 0.75rem;
    padding: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.footer a {
    margin-right: 0.8em;
}
